:root {
    --header_bg:#BEBEBE;
    --black_bg: white;
    --card_bg: 		#BEBEBE;
    --text_color: black;
    --card_icon-bg: white; 
}

.color_dark {
    --header_bg: 	#606060;
    --black_bg: 	#404040;
    --card_bg: #303030;
    --bg_s: #afafaf;
    --text_color: white;
    --card_icon-bg: black;
}


header {
    background-color: var(--header_bg);
}

h1 {
    color: var(--text_color);
    font-size: 30px;
    font-weight: 600;
}

.heart {
    border-color: #ff0000;  
}

.heart>img {
    color: red;
}

.heart__span {
    padding-left: 5px;
    padding-right:2px;
    color: red;
    font-size: 16px;
    font-weight: 500;
}

.saved {
    border-color: green;
}

.saved__span {
    font-size: 16px;
    font-weight: 500;
    padding-left: 3px;
    color:  green;
}

.select {
    background-color: var(--bg_s);
}

main {
    background-color: var(--black_bg);
}

li {
    background-color: var(--card_bg);
}

.title__wrapper {
    border-radius: 12px;
    padding: 20px;
    background-color: #999999;
}


p h2 {
    color: var(--text_color);
}